<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
        rel="stylesheet">
    <title>Home Slice</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="nav-item nav-link " href="/"><img class="navbar-brand" id="logo" src="img/logo.png"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href='/listings'>LISTINGS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/mylisting'>MY LISTINGS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/about'>ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/login'>LOGIN</a>
                </li>

                <br><br>
                <span></span>
                <br>
            </ul>
        </div>
    </nav>