<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Montserrat:wght@200;500;600;800&display=swap"
        rel="stylesheet">
    <title>Home Slice</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="nav-item nav-link " href="/"><img class="navbar-brand" id="logo" src="img/logo.png"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/">HOME</a>
              <a class="nav-link" href='/listings'>LISTINGS</a>
              <a class="nav-link" href='/mylistings'>MY LISTINGS</a>
              <a class="nav-link" href='/about'>ABOUT</a>
              <% if(!isAuthenticated){ %>
                <li class="nav-item">
                    <a class="nav-link" href='/login'>LOGIN</a>
                </li>
                <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href='/logout'>LOGOUT</a>
                </li>
                <% } %>
            </div>
          </div>
        </div>
      </nav>
   
    <% if(user) { %>
    <div class = "content">
        <h2> Hello
            <%= user.nickname.charAt(0).toUpperCase() + user.nickname.slice(1) %>
            !
        </h2> 
    </div>
    <% } %>
</body>

</html>