h1 {
    font-family: "Chango", cursive;
  }
  
  h2 {
    font-weight: 800;
  }
  
  h3 {
    font-weight: 600;
  }
  h2 {
    font-weight: 500;
  }
  body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
  }
  
  /* Nav Bar Styling */
  ul {
    margin: 0;
    padding: 0;
  }
  
  nav {
    display: inline-block;
    background-color: #757bcb;
  }
  
  .nav_elements {
    text-decoration: none;
  }
  
  .nav-link {
    padding: 0.5rem 0rem;
  }
  
  #logo {
    width: 175px;
  }
  
  /* End Nav Bar Styling */
  
  .content {
    padding-left: 20px;
    padding-top: 20px;
  }
  
  .content a {
    text-decoration: none;
    color: grey;
  }
  
  /* listing */
.tm-listing-box-1 {
	width: 100%;
	max-width: 532px;
	margin-bottom: 50px;
}
.tm-listing-box-1-info {
	background: white;
	padding: 40px;
	overflow: hidden;
}
.tm-listing-box-1-info-left,
.tm-listing-box-1-info-right {
	float: left;
	width: 50%;
}
.tm-listing-box-1-info-left {
	border-right: 1px solid #B1B1B1;
	padding-right: 30px;
}
.tm-listing-box-1-info-right { padding-left: 30px; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-bottom-30 { margin-bottom: 30px; }
.gray-text { color: #B1B1B1; }
.listing-1-description { line-height: 1.8; }
.tm-listing-box-1-link { overflow: hidden }
.tm-listing-box-1-link-left { 
	background-color: #8C6BCF;
	padding: 20px 30px;
	float: left;
	width: 75%;
	text-transform: uppercase;
}
.tm-listing-box-1-link-right {
	float: left;
	background-color: #964EC2;
	font-weight: 600;
	font-size: 18px;
	display: block;
	padding: 17px 30px;
	width: 25%;
	transition: all 0.3s;
	text-align: center;
}
.tm-listing-box-1-link-right:hover,
.tm-listing-box-1-link-right:focus {
	color: white;
	background-color: #A05EC8;
}
.tm-listing-box-1-link-left,
.tm-listing-box-1-link-right {
	color: white;
	height: 60px;
}

.margin-bottom-15 { margin-bottom: 15px; }
.margin-bottom-5 { margin-bottom: 5px; }

/* End of Listing CSS */

  footer {
    color: white;
    background-color: #757bcb;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  
  #topic {
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  label {
    font-size: small;
  }
  
  td {
    padding-right: 10px;
    padding-bottom: 10px;
  }
  
  .align-top {
    vertical-align: top;
  }
  
  .align-right {
    text-align: right;
  }
  
  .fixed-width {
    width: 300px;
  }
  
  input,
  textarea {
    font-family: Arial, Helvetica, sans-serif;
  }
  