<%- include('../partials/header.ejs') %>

<div class="content">
    <h2>UNC Charlotte</h2>
    <h3>Housing</h3>
    <p>Host: Zaina Shawar</p>
    <p>Number: 704-340-4222</p>
    <p>Email: zainashawar@gmail.com</p>
    <br>
    <p>Address: 9928 Paxton Run Road</p>
    <p>Additional Address info: </p>
    <p>City, state, zip</p>
    <p>March 5th - March 30th</p>
    <p>Price: $400</p>
    <p>I am looking for roomates to buy out the extra room. There are a lot of perks.
        Contact me if interested using the number above
    </p>
    <p>4 bedrooms</p>
    <p>3 baths</p>
    <p>Amenities: We have a kitchen, tv, hot tub, and living area</p>
    <img src="../../public/img/listings/Listing1.png" alt="">
</div>

<%- include('../partials/header.ejs') %>