<%- include('../partials/header.ejs') %>

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Montserrat:wght@200;500;600;800&display=swap"
        rel="stylesheet">
    <title>Listings</title>
</head>

<!-- gray bg -->	
<section class="container tm-home-section-1" id="more">
    <div class="section-margin-top">
        <div class="row">				
            <div class="tm-section-header">
                <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
                <div class="col-lg-6 col-md-6 col-sm-6"><h2 class="tm-section-title">Listings For You</h2></div>
                <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>	
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="tm-listing-box-1">
                    <img src="img/listing-03.jpg" alt="image" class="img-responsive">
                    <div class="tm-listing-box-1-info">
                        <div class="tm-listing-box-1-info-left">
                            <p class="text-uppercase margin-bottom-20">Proin Gravida Nibhvel Lorem Quis Bind</p>	
                            <p class="gray-text">28 March 2084</p>
                        </div>
                        <div class="tm-listing-box-1-info-right">
                            <p class="gray-text listing-1-description">Lorem quis bibendum auctor, nisi elit consequat ipsum, sec sagittis sem nibh id elit.</p>	
                        </div>							
                    </div>
                    <div class="tm-listing-box-1-link">
                        <div class="tm-listing-box-1-link-left">
                            Lease Term: 8 days
                        </div>
                        <a href="#" class="tm-listing-box-1-link-right">
                            $2,200								
                        </a>							
                    </div>
                </div>					
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="tm-listing-box-1">
                    <img src="img/listing-04.jpg" alt="image" class="img-responsive">
                    <div class="tm-listing-box-1-info">
                        <div class="tm-listing-box-1-info-left">
                            <p class="text-uppercase margin-bottom-20">Proin Gravida Nibhvel Lorem Quis Bind</p>	
                            <p class="gray-text">26 March 2084</p>
                        </div>
                        <div class="tm-listing-box-1-info-right">
                            <p class="gray-text listing-1-description">Lorem quis bibendum auctor, nisi elit consequat ipsum, sec sagittis sem nibh id elit.</p>	
                        </div>							
                    </div>
                    <div class="tm-listing-box-1-link">
                        <div class="tm-listing-box-1-link-left">
                            Duration: 9 days
                        </div>
                        <a href="#" class="tm-listing-box-1-link-right">
                            $1,800								
                        </a>							
                    </div>
                </div>					
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="tm-listing-box-1">
                    <img src="img/listing-05.jpg" alt="image" class="img-responsive">
                    <div class="tm-listing-box-1-info">
                        <div class="tm-listing-box-1-info-left">
                            <p class="text-uppercase margin-bottom-20">Proin Gravida Nibhvel Lorem Quis Bind</p>	
                            <p class="gray-text">24 March 2084</p>
                        </div>
                        <div class="tm-listing-box-1-info-right">
                            <p class="gray-text listing-1-description">Lorem quis bibendum auctor, nisi elit consequat ipsum, sec sagittis sem nibh id elit.</p>	
                        </div>							
                    </div>
                    <div class="tm-listing-box-1-link">
                        <div class="tm-listing-box-1-link-left">
                            Duration: 8 days
                        </div>
                        <a href="#" class="tm-listing-box-1-link-right">
                            $1,600								
                        </a>							
                    </div>
                </div>					
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="tm-listing-box-1">
                    <img src="img/listing-06.jpg" alt="image" class="img-responsive">
                    <div class="tm-listing-box-1-info">
                        <div class="tm-listing-box-1-info-left">
                            <p class="text-uppercase margin-bottom-20">Proin Gravida Nibhvel Lorem Quis Bind</p>	
                            <p class="gray-text">22 March 2084</p>
                        </div>
                        <div class="tm-listing-box-1-info-right">
                            <p class="gray-text listing-1-description">Lorem quis bibendum auctor, nisi elit consequat ipsum, sec sagittis sem nibh id elit.</p>	
                        </div>							
                    </div>
                    <div class="tm-listing-box-1-link">
                        <div class="tm-listing-box-1-link-left">
                            Duration: 5 days
                        </div>
                        <a href="#" class="tm-listing-box-1-link-right">
                            $1,200								
                        </a>							
                    </div>
                </div>					
            </div>
        </div>		
    </div>
</section>		

<%- include('../partials/footer.ejs') %>