<%- include('../partials/header.ejs') %>

    <div class = "content">
        <h3>My Listings</h3> 
        <p>This is a place where you can share your exciting apartment openings and any reviews.</p>
    </div>

<%- include('../partials/footer.ejs') %>