<%- include('../partials/header.ejs') %>

    <div id="host" class="section">
        <section id="banner">
            <div class="inner">
                <h1 class="h1form">Host Your Home</h1>
                <p class="pform">Becoming a Host is just one form away.</p>
            </div>
        </section>
        <div class="form">
            <div class="section-center">
                <div class="container">
                    <div class="row">
                        <div class="host-form">
                            <form action="/listings" enctype="multipart/form-data" method="POST">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="name" placeholder="Full Name" required>
                                            <span class="form-label">Name</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control" type="email" name="email" placeholder="Enter your Email" required>
                                            <span class="form-label">Email</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control" type="tel" name="phone" placeholder="Enter your Phone" required>
                                            <span class="form-label">Phone</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Make the next two drop down selections-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="college" placeholder="College" required>
                                            <span class="form-label">College</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <select class="form-control" name="type" required>
                                                <option value="" selected hidden>Type of Building</option>
                                                <option value="House">House</option>
                                                <option value="Townhome">Townhome</option>
                                                <option value="Apartment">Apartment</option>
                                                <option value="Condo">Condo</option>
                                            </select>
                                            <span class="select-arrow"></span>
                                            <span class="form-label">Housing</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="address1" placeholder="Address Line 1" required>
                                    <span class="form-label">Address Line 1</span>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="address2" placeholder="Address Line 2 (optional)">
                                    <span class="form-label">Address Line 2</span>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="city" placeholder="City" required>
                                            <span class="form-label">City</span>
                                        </div>
                                    </div>
                                    <!-- Make into drop down selection-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="state" placeholder="State" required>
                                            <span class="form-label">State</span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="zip" placeholder="Zip" required>
                                            <span class="form-label">Zip</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" type="date" name="start_date" required>
                                            <span class="form-label">Start</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" type="date" name="end_date" required>
                                            <span class="form-label">End</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="offering" placeholder="Description" required>
                                    <span class="form-label">Offering</span>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="amenities" placeholder="Amenities" required>
                                    <span class="form-label">Amenities</span>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select class="form-control" name="bedrooms" required>
                                                <option value="" selected hidden>Number of Bedrooms</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                            <span class="select-arrow"></span>
                                            <span class="form-label">Rooms</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select class="form-control" name="bathrooms" required>
                                                <option value="" selected hidden>Number of Bathrooms</option>
                                                <option value="1">1</option>
                                                <option value="1.5">1.5</option>
                                                <option value="2">2</option>
                                                <option value="2.5">2.5</option>
                                                <option value="3">3</option>
                                                <option value="3.5">3.5</option>
                                                <option value="4">4</option>
                                            </select>
                                            <span class="select-arrow"></span>
                                            <span class="form-label">Bathrooms</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="price" placeholder="Price" required>
                                            <span class="form-label">Price</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input class="form-control-file" type="file" name="image" placeholder="Attach File" required>
                                    <span class="form-label">Attach File</span>
                                </div>
                                <div class="form-btn col-5 mx-auto">
                                    <button class="submit-btn">Host Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- <script>
            $('.form-control').each(function () {
                floatedLabel($(this));
            });

            $('.form-control').on('input', function () {
                floatedLabel($(this));
            });

            function floatedLabel(input) {
                var $field = input.closest('.form-group');
                if (input.val()) {
                    $field.addClass('input-not-empty');
                } else {
                    $field.removeClass('input-not-empty');
                }
            }
        </script> -->

    <%- include('../partials/footer.ejs') %>